.header{
    background: darkcyan;
    padding: 15px;
}
.list{
    display: flex;
}
li{
    list-style-type: none;
    text-decoration: none;
    margin: 5px;
    
}
.title{
    color: white;
    text-decoration: none;
    background: hotpink;
    padding: 5px 10px;
    border-radius: 15px;
}